<nav class="bg-primary text-white">
  <div class="container p-y-2 grid md:grid-4-8">
    <p>blua.blue API portal</p>
    <div class="place-x-end place-y-center">
      <a class="text-decoration-none text-accent font-md m-x-2 hover:text-white" href="{{base}}">Back to blua.blue</a>
      <a class="text-decoration-none text-accent font-md m-x-2 hover:text-white" href="{{base}}api">Documentation</a>
      <a class="text-decoration-none text-accent font-md m-x-2 hover:text-white" href="{{base}}endpoint">neoan3-endpoint testing</a>
    </div>
  </div>
</nav>